@font-face {
    font-family: 'Roboto Condensed';
    src: url('robotocondensed-medium-prop-nums-webfont.woff2') format('woff2'),
         url('robotocondensed-medium-prop-nums-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
