#geocoder-search-panel {
  z-index: 10;
  padding: 3px;
  position: relative;
}
#geocoder-search-input {
  border: 1.2px solid lightgray;
  font-size: 1.2em;
  padding: 3px;
}
#geocoder-live-results {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  position: absolute;
}
.gc-result-item {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px 1px 0px 1px;
  background-color: white;
  display: block;
  padding: 2px;
  cursor: pointer;
}
.gc-result-item:last-child {
  border-width: 1px;
}
.gc-result-item-selected {
  background-color: lightgrey;
}
.gc-result-category {
  color: blue;
  font-size: 0.9em;
}
.gc-result-name {
  color: darkslategray;
  font-size: 1.5em;
}
.gc-result-description {
  color: slategray;
  font-size: 1em;
  font-style: italic;
}

@keyframes stripy-bar {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 4em;
  }
}

#geocoder-search-input.pending {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 1.414em,
    #def 1.414em 2.828em
  );
  background-size: 4em;
  animation: stripy-bar infinite 1.2s linear;
}
